<form method="POST">
    <div class="field">
        <label class="label">Word</label>
        <div class="control">
            <input class="input" type="text" placeholder="New word" name="word">
        </div>
    </div>

    <div class="field">
        <label class="label">Definition</label>
        <div class="control">
            <textarea class="textarea" placeholder="New definition" name="definition"></textarea>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Submit</button>
        </div>
        <div class="control">
            <button class="button is-link is-light">Cancel</button>
        </div>
    </div>

</form>